<mat-form-field appearance="legacy" id="search-form-field">
<mat-label>{{'Search video by name' | language}}</mat-label>
    <input aria-label="Search video by name" (keyup.enter)="search()" matInput
     [placeholder]="'Name, descriotion, ...' | language">

    <button matSuffix mat-icon-button (click)="search()" aria-label="Search" 
    [matTooltip]="'Search by video name' | language">
        <i class="fa fa-search large"></i>
    </button>
    <mat-hint>{{'Enter' | language}} ...</mat-hint>
</mat-form-field>