<div class="slider">
  <div class="button-container">
    <button mat-icon-button (click)="move(slides, 'L')" [matTooltip]="'Previous' | language"
     aria-label="Previous">
      <i class="fa fa-chevron-left"></i>
    </button>
  </div>
  <div class="slides" #slides>
    <div *ngFor="let item of items">
      <!-- {{item.number}} -->
      <div class="project-container">
        <div class="header">

          <img href="" tabindex="0" class="progress-icon ng-scope"
            ng-if="project.projectStatus==2 &amp;&amp; project.mainVideoThumbnail"
            src="../../../../assets/image/english-draft.png">
          <div class="status-container" [ngSwitch]="item.projectStatus">
            <i *ngSwitchCase="1" [matTooltip]="'In-progress' | language" class="fa fa-clock"></i>
            <i *ngSwitchCase="2" [matTooltip]="'Finished' | language" class="fa fa-check"></i>
          </div>

          <div  class="edit-button-container">
            <button color="accent" mat-stroked-button [matTooltip]="'Edit' | language">
              <i class="fa fa-edit"></i>
            </button>
          </div>


          <div class="delete-button-container">
            <button color="warn" mat-stroked-button [matTooltip]="'Delete' | language">
              <i class="fa fa-trash"></i>
            </button>
          </div>



          <div class="duration-container">
            {{item.mainVideoFileDuration}}
          </div>

        </div>

        <div class="body">
          <b>{{item.projectName}}</b>
        </div>

        <div class="footer">
          <i> {{'Created' | language}} {{item.createDate}}</i>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button mat-icon-button (click)="move(slides, 'R')" [matTooltip]=" 'Next' | language" 
    aria-label="Next">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>

</div>