/* You can add global styles to this file, and also import other style files */
@import "./../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

div .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0.4em .4em 0 .4em;
}

html{
    font-size: 65%;
}

body{
    font-size: 1.6rem;
}

table.mat-table {
    width: 100%;
    text-align: right;
}

button:focus {
    outline: 0 !important;
    outline: 0 !important;
}

* {
    text-align: right;
}

i{
    &.small {
        font-size: 15px;
    }

    &.normal {
        font-size: 20px;
    }

    &.large {
        font-size: 25px;
    }
}

.full-width {
    width: 100%;
}

.list-header {
    text-align: center;
}

div .ltr-input {
    text-align: left;
    direction: ltr;
}

.icon-container{
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


  