<div class="contaianer">
    <div *ngFor="let item of finaliaze; let i = index;" class="project-option row ">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 image-container">
            <img [src]="item.image" width="30%">
        </div>
        <button [class.bold]="!item.value" mat-stroked-button [attr.aria-label]="item.options[0].key | language"
            [matTooltip]="item.options[0].key | language" (click)="changeState(item ,false)" class=" col-md-4 col-lg-4 col-sm-4 col-xs-12">
            {{item.options[0].key | language}}
        </button>

        <div class=" col-md-1 col-lg-1 col-sm-4 col-xs-12 slide-container">
            <mat-slide-toggle [matTooltip]="'switch' | language" [attr.aria-label]="'switch' | language" (change)="changeState(item , !item.value)"
                [checked]="item.value"></mat-slide-toggle>
        </div>

        <button [class.bold]="item.value" mat-stroked-button [attr.aria-label]="item.options[1].key | language"
            [matTooltip]="item.options[1].key | language" (click)="changeState(item, true);" class=" col-md-4 col-lg-4 col-sm-4 col-xs-12">
            {{item.options[1].key | language}}
        </button>

        <div class="full-width " style="text-align: right" [attr.aria-label]="activeAlert | language">
            <mat-error *ngIf="(i == 0 || i == 1) && activeAlert">
                {{activeAlert | language}}
            </mat-error>
        </div>
    </div>


    <div id="navigation-btn-container">
        <button mat-raised-button color="primary" (click)="next()" [attr.aria-label]="'Back to Script' | language"
            [matTooltip]="'Back to Script' | language">
            {{'Back to Script' | language}}
        </button>
        <button mat-raised-button color="primary" (click)="next()" [attr.aria-label]="'Next' | language" [matTooltip]="'Click for next step' | language">
            {{'Next' | language}}
        </button>
    </div>
</div>