@import "../../../styles/variables.scss";
@import '~@angular/material/theming';



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-sidenav{
    display: none;
  }
  .app-container{
    top: 56px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .toggle-menu-btn{
    display: none;
  }
  .app-container{
    top: 64px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



mat-toolbar {
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }


  box-shadow: 0px 1px 3px 0px mat-color($dark, 400);

  &.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

}


.app-container{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;


  .menu-text{
    font-size: 13px;
    margin: 0px 15px;
  }

  .app-sidenav-content{


    #main-box-container{
      padding: 10px 30px;
      background-color:  mat-color($dark, 200);
    }
    height: 40px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

  .app-sidenav{
    background-color: mat-color($dark, 800);
    div{
      color: #88aff7;
      i{
        color: #dee2e6;
      }
    }
  }

}

.sidenav-footer{
  position: absolute;
  bottom: 0;
}


#header{

  .left-header{
    
    display: inline-block;
    position: absolute;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 50px;
    left: -50px;
    top: 0;

    .brand {
      height: 50px;
  
      &>img {
        width: auto;
        height: 40px;
      }
    }
  }
  

  .profile-container {
    position: absolute;
    right: 0;
    top: 0;

    .profile-logo>img {
      width: auto;
      height: 40px;
      float: right;
    }

    div.profile-logo .profile-username {
      display: table-cell;
      vertical-align: middle;
      font-size: 20px;
      color: black;
      text-decoration: underline;
      font-style: italic;
    }

    div.profile-logo {
      display: table;
    }

    .profile-logo {
      float: right;
      width: 70px;
      height: 50px;
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
    }
  }

}
