<div class="container-fluid">

    <div class="col-12" id="tools-container">
        <mat-form-field appearance="legacy" id="squiglit-keyword-form-field">
            <mat-label>Squiglet Keyword:</mat-label>
            <input aria-label="Type ypur keyword here" [(ngModel)]="keyword" matInput
                placeholder="Type ypur keyword here">
            <mat-hint>Type ypur keyword here</mat-hint>
        </mat-form-field>
    </div>



    <div class="row" id="main-box">
        <div class="col col-4" id="tools-container">
            <div class="tool-box" id="keyword">
                <div class="header">
                    KEYWORD
                </div>
                <div class="content container">
                    <div class="row">
                        <div class="col-6">
                            {{keyword}}
                        </div>

                        <div class="col-6">
                            <button aria-label="Image Trace" matTooltip="Image Trace" (click)="imageTraceDialog()"
                                color="primary" mat-mini-fab>
                                <i class="fa fa-image"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tool-box" id="mode">
                <div class="header">
                    Select Action
                </div>
                <div class="content container">
                    <div class="row">
                        <button class="col" color="primary" (click)="changeMode('draw')" mat-stroked-button>
                            <i class="fa fa-pen"></i>
                            <span>Draw</span>
                        </button>
                        <button class="col" color="accent" (click)="changeMode('edit')" mat-stroked-button>
                            <i class="fa fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button class="col" color="warn" (click)="changeMode('erase')" mat-stroked-button>
                            <i class="fa fa-eraser"></i>
                            <span>Erase</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tool-box" id="color-picker">
                <div class="header">
                    Choose Color
                </div>
                <div class="content container">

                    <div class="row" id="ready-color">
                        <div class="col" *ngFor="let color of readyColor">
                            <button [style.backgroundColor]="color.value" mat-mini-fab [matTooltip]="color.key"
                                (click)="changeColor(color.value)">
                                <i class="fa fa-brush large"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-12" id="color-picker-container">
                        <input matInput [(ngModel)]="canvas.freeDrawingBrush.color"
                            [(colorPicker)]="canvas.freeDrawingBrush.color"
                            [style.background]="canvas.freeDrawingBrush.color" />
                    </div>
                </div>
            </div>
            <div class="tool-box" id="action">
                <div class="header">
                    Action
                </div>
                <div class="content container">

                    <div class="row">
                        <button class="col" color="accent" (click)="undo()" mat-stroked-button>
                            <i class="fa fa-reply"></i>
                            <span>Undo</span>
                        </button>
                        <button class="col" color="accent" (click)="redo()" mat-stroked-button>
                            <i class="fa fa-share"></i>
                            <span>Redo</span>
                        </button>
                        <button class="col" color="warn" (click)="clear()" mat-stroked-button>
                            <i class="fa fa-trash"></i>
                            <span>Clear</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-8" id="canvas-container">
            <canvas id="myCanvas"  height="400"></canvas>
        </div>
    </div>

</div>

<div id="tool-btn-container">
    <button aria-label="Fullscreen" matTooltip="Fullscreen" (click)="fullScreen()" color="accent" mat-icon-button
        mat-mini-fab>
        <i class="fa fa-expand"></i>
    </button>
</div>