/* You can add global styles to this file, and also import other style files */
@import "./styles/theme/candy";
@import "./../node_modules/@fortawesome/fontawesome-free/css/all.css";


:not(i){
  font-family: 'Lato', sans-serif;
}

.full-width{
  width: 100%;
}

div .mat-dialog-actions {
  justify-content: space-evenly;
  padding: 25px 0 8px;
}

div .mat-dialog-content {
  .dialog-box {
      padding: 12px 35px;
  }
}

.mat-dialog-title {
  border-bottom: 1px solid #f44336;
  margin-bottom: 30px;
}



